html,body {
    position: relative;
    height: 1000px;
    width: 100%;
    margin: 0 auto;
   background-image: url(主页背景.jpg);
  }

  /* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */

  .swiper {
    width: 80%;
    height: 70%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .movie{
    width: 100%;
    height: 1050px;
      background-image: url(./tupian/dd01.png);}
  .rmov{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        background-color: #30343F;
        background-image:url(./tupian/dd012.png) ;
      }
  #mov1{
    width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 120px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/绿皮书.png);
    background-size: 120px 180px;
    background-repeat: no-repeat;
  }
  .mov11{
    width: 380px;
    height: 180px;
    float: right;
    margin: 5px 50px 5px 10px;
    text-align: center;
    color: #F2F2F5;
  }
  .mov11 a{
    margin: 5px 0 5px 0;
    text-decoration: none;
    font-size: 20px;
    color:white;
  }
  .mov11 a:hover{
    color: antiquewhite;
  }
  #mov2{
    width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/扫黑.webp);
    background-size: 120px 180px;
    background-repeat: no-repeat;}
  #mov3{
    width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 120px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/星际.webp);
    background-size: 120px 180px;
    margin-top: 30px;
    background-repeat: no-repeat;}
    #mov4{
    width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/坏蛋.webp);
    background-size: 120px 180px;
    margin-top: 30px;
    background-repeat: no-repeat;
     }
    #mov5{
      width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 120px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/开端.webp);
    background-size: 120px 180px;
    margin-top: 30px;
    background-repeat: no-repeat;
    }
    #mov6{
      width: 40%;
    height: 180px;
    background-color: #1D1E22;
    margin-left: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 5%;
    background-image: url(./tupian/海上.webp);
    background-size: 120px 180px;
    margin-top: 30px;
    background-repeat: no-repeat;
    }
    .rphoto{
      float: left;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 30px;
      font-family: cursive;
      background-image:url(./tupian/dd012.png) ;
      
    }
    .photo{
      width: 100%;
      float: left;
      height: 300px;
    }
    #photo1{
      width: 341px;
      height: 270px;
      background-color:yellow;
      margin-left: 80px;
      margin-right: 80px;
      float: left;
      background-image: url(./tupian/tupian1.png);
      background-size: 341px 270px;
    }
    #photo2{
      width: 341px;
      height: 270px;
      background-color:yellow;
      margin-left: 80px;
      margin-right: 80px;
      float: left;
      background-image: url(./tupian/tupian2.png);
      background-size: 341px 270px;
      background-repeat: no-repeat;
    }
    #photo3{
        width: 341px;
      height: 270px;
      background-color:yellow;
      margin-left: 80px;
      margin-right: 80px;
      float: left;
      background-image: url(photo3.png);
      background-size: 341px 270px;
      background-repeat: no-repeat;
    }
    .houtu{
      width: 100%;
      height: 80px;
      text-align: center;
      float: left;
      font-size: 30px;
      line-height: 80px;
      background-color:#30343F ;
      color: #eee;
      font-family: cursive;
    }
    .houtu a{
      text-decoration: none;
      color: wheat;

    }
    
    
    .nav_1{
        width:100%;
        height: 60px;
       
         /* position: fixed; 
         top: 0;
         left: 0; */
       
    }
    .nav_1_1{
        width: 80px;
        height: 40px;
        margin:10px 10px 10px 40px;
        font-size: 20px;
        line-height: 40px;
        float: left;
        color: white;
    }
    .nav_1_2 a{
        text-decoration: none;
        width: 80px;
        height: 60px;
        float: right;
        margin:0 10px ;
        line-height: 60px;
        text-align: center;
        color: white;
        
    }
    .nav_1_2 a:hover{
       background-color: aqua;
       color: red;
    }
  
      
      /* .n1{
        width: 1000px;
        height: 50px;
        line-height: 50px;
        
        font-size: 15px;
      }
      .n1 a{
        text-decoration: none;
        width: 100px;
        height: 50px;
        float: right;
        margin:0 60px ;
        text-align: center;
      }
      .n1 a:hover{
        background-color: aqua;
       color: red;
      } */
      .mingzi{
        float: left;
        font-size: 20px;
        font-family: cursive;
        margin-left: 20px;
      }
